button:enabled:not(.btnNoir):not(.btnBlanc){
  background-color: green;
  color: white;
  margin: 5px;
}

button:disabled:not(.btnNoir):not(.btnBlanc):not(.btnSelection){
  background-color: darkred;
  color: white;
  margin: 5px;
}

.btnNoir
{
  background-color: black;
  color: white;
  margin: 2px;
}

.btnBlanc
{
  background-color: white;
  color: black;
  margin: 2px;
}

.btnSelection
{
  background-color: blue;
  color: white;
  margin: 2px;
}

button
{
  border-radius: 5px;
  font-weight: bold;
}

body
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html
{
  background-color: #282923;
}

.contenuPage
{
  border-radius: 10px;
  border: 1px solid;
  display: table;
  width: auto;
  padding:30px;
  margin:5px;
  background-color:#373f48; /* gris */
  box-shadow: 5px 5px 5px #373f48;
}

:link    { color: forestgreen; }
:visited { color: forestgreen; }